@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 400px;
    background-image: url("./images/bg.jpg");
    background-color: #111;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 46px;
    letter-spacing: 2px;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
}

th, tr, td {
    border: solid 1px white;
    color: white;
}

button {
    color: black;
    background-color: #DAA520;
    border-radius: 26px;
    padding: 3px 8px 3px 8px;
    border: 2px solid black;
    cursor: pointer;
}

input {
    border-radius: 26px;
    padding: 4px;
    font-size: 12px;
    
}
